body {
    font-family: Arial, sans-serif;
    background-color: #a0a8ab;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

h1 {
    color: #333;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    background: #2575fc;
    color: white;
    border: none;
    padding: 12px 20px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #6a11cb;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}